$theme-colors: (
  "success": #13CE66,
);

@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
body {
  color: #1F2D3D;
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}
.alert-alert {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.alert-notice {
  color: #383d41;
  background-color: #e2e3e5;
  border-color: #d6d8db;
}

.nav-link {
  cursor: pointer;
}

.trip-name {
  background: rgba(255, 255, 255, 0.8);
  display: inline-block;
  padding: 0.5rem;
}

.trip-description {
  background: rgba(255, 255, 255, 0.8);
  display: inline-block;
  padding: 0.5rem;
}

.titlehead {
  font-size: 2rem;
  font-weight: 700;
}

.account-drop {
  margin-left: 2rem;
}

.upvoted {
  color: green;
}

.downvoted {
  color: red;
}

.row {
   display: flex;
   flex-wrap: wrap;
}

.row > div[class*='col-'] {
  display: flex;
}

.card {
  margin-bottom: 2rem;
}

.wrapper {
  position: relative;
  overflow: hidden;
}

.wrapper:after {
  content: '';
  display: block;
  padding-top: 100%;
}

.wrapper img {
  width: auto;
  height: 100%;
  max-width: none;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}

.navbar {
  background: #13CE66;
}
